includeConfig 'conf/base.config'

params {

    test_vcf = "/lustre/scratch126/humgen/teams/hgi/users/re3/blended_genomes_exomes/glimpse_from_vcf/batch1_2/glimpse_from_vcf_ligated_info_reimputed.vcf.gz"
    test_vcf_index = "/lustre/scratch126/humgen/teams/hgi/users/re3/blended_genomes_exomes/glimpse_from_vcf/batch1_2/glimpse_from_vcf_ligated_info_reimputed.vcf.gz.tbi"
    pops_vcf = "/lustre/scratch126/humgen/teams/hgi/users/re3/blended_genomes_exomes/pop_inference_test_thais/1kgp_b38_with_chr.bcf"
    pops_vcf_index = "/lustre/scratch126/humgen/teams/hgi/users/re3/blended_genomes_exomes/pop_inference_test_thais/1kgp_b38_with_chr.bcf.csi"
    pops_file = '/lustre/scratch126/humgen/teams/hgi/users/re3/blended_genomes_exomes/samples/igsr_samples.tsv'
    workdir = "/lustre/scratch126/humgen/teams/hgi/users/re3/blended_genomes_exomes/admixture_pipe_test/work"
    publishdir = "/lustre/scratch126/humgen/teams/hgi/users/re3/blended_genomes_exomes/admixture_pipe_test/output"
    //Comment out next line if you are using VCF not from GLIMPSE
    filter_input = "true"

    //for prune step
    window_size = 50
    step = 5
    r_squared = 0.2
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"

}

// Load nf-core custom profiles from different Institutions
try {
    includeConfig "https://raw.githubusercontent.com/nf-core/configs/master/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: https://raw.githubusercontent.com/nf-core/configs/master/nfcore_custom.config")
}


def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}

singularity {
  enabled = true
  cacheDir = '/nfs/hgi/singularityContainers/'
  runOptions = '--bind /lustre'
}